include mixins/links

- if (!isAjax)
  doctype html
  html
    head
      meta(charset="utf-8")
      meta(name="generator", content="jingo #{jingoVersion}")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      title= title
      +asset("/vendor/bootstrap/css/bootstrap.min.css")
      link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Condensed")
      +asset("/css/style.css")
      +asset("/css/ionicons.min.css")
      +asset("/css/shCoreDefault.css")
      +asset("/css/ubuntu.css")
      block styles
      if hasCustomStyle()
        style.
          !{_style}
    body
      -var term_ph = (typeof term == "undefined" ? "" : term)
      .navbar.navbar-default.navbar-fixed-top(style="background-color: rgb(237, 237, 237);")
        .container
          .navbar-header(style="width: auto;")
            .visible-xs.visible-sm(data-role='actions')
              button.fa.fa-bars(type='button', ng-click='opened = !opened')
              div(data-role='actions-overflow-list', ng-class='{opened: opened}')
                ul
                  li
                    a(ng-click='opened = false', href='https://devices.ubports.com', style="background: none;") Devices
                  li
                    a(ng-click='opened = false', href='https://forums.ubports.com', style="background: none;") Forums
                  li
                    a(ng-click='opened = false', href='https://wiki.ubports.com', style="background: none;") Wiki
                  li
                    a(ng-click='opened = false', href='https://ubports.com/get-involved', style="background: none;") Get Involved
                  li
                    a(ng-click='opened = false', href='https://ubports.com/developers', style="background: none;") Developers
            a.navbar-brand(href='https://ubports.com', style="max-width: 1000px; background: none;")
              div(data-role='back-btn')
              | UBports

          .navbar-collapse.navbar-right.hidden-xs.hidden-sm
            ul.nav.navbar-nav
              li
                a(href='https://devices.ubports.com', style="background: none;") Devices
              li
                a(href='https://forums.ubports.com', style="background: none;") Forums
              li
                a(href='https://wiki.ubports.com', style="background: none;") Wiki
              li
                a(href='https://ubports.com/get-involved', style="background: none;") Get Involved
              li
                a(href='https://ubports.com/developers', style="background: none;") Developers

        .container-fluid(style="background-color: white;")
          .navbar-header
            +anchor("/", appTitle).navbar-brand
            if canSearch()
              form(action="#{proxyPath}/search").navbar-form.search.navbar-left
                .input-group.input-group-sm.search
                  input.form-control(type="text", value="#{term_ph}", data-i-search-input="true",name="term",placeholder="Search the wiki" , style="background-color: #777; border-color: #777;")
                  span.input-group-btn
                    button.btn.btn-primary(type="submit") Search
            .navbar-right
              if isAnonymous()
                p.user You're not&nbsp;
                  +anchor('/login?destination', 'Login')#login(title='Access login page')
              else
                p.user
                  if user.email && user.email != 'jingouser'
                    img(src=gravatar().url("#{user.email}", {s:24}))
                  b(style="color: #777;") &nbsp;#{user.displayName}&nbsp;
                  +anchor('/logout')(title='Become anonymous')
                    i.icon.ion-power
      .container(style="margin-top: 45px;")
        .tools(style="height: 42px")
          block tools



        .row
          if hasSidebar()
            .col-md-2.with-sidebar
              .content !{_sidebar}
          else
            .col-md-2

          #main.hide-tools.col-md-10
            block content

        if hasFooter()
          .row
            .col-md-2
            .col-md-8.with-footer
              .content !{_footer}

      center
         br
         p
           a(href='https://www.digitalocean.com/?refcode=afe991ab278c', style="background: none;")
             img(src='https://www.digitalocean.com/assets/images/logos-badges/png/DO_Proudly_Hosted_Badge_Grey-1652c782.png', width='150', height='40', style="background: none;")
         p
           | This site is maintained by
           a(href='https://ubports.com/developers', style="background: none; padding-right: 0px;")  The UBports Developers
           |  and is not an any way endorsed by or affiliated with
           a(href='http://ubuntu.com/', style="background: none; padding-right: 0px;")  Ubuntu
           |  or
           a(href='http://www.canonical.com/', style="background: none; padding-right: 0px;")  Canonical
           | .
           a(href='http://ubuntu.com/', style="background: none; padding-right: 0px;")  Ubuntu
           |  and
           a(href='http://www.canonical.com/', style="background: none; padding-right: 0px;")  Canonical
           |  are registered trademarks of
           a(href='http://www.canonical.com/', style="background: none; padding-right: 0px;")  Canonical Ltd.


      script(src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
      script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js')
      script.
        window.jQuery || document.write("<sc" + "ript src='#{proxyPath}/vendor/jquery.min.js'></scr" + "ipt>");
      +asset("/vendor/bootstrap/js/bootstrap.min.js")
      +asset("/js/app.js")
      script.
        Jingo.init("#{proxyPath}");
      block scripts
      if hasCustomScript()
        script.
          !{_script}
- else
  block content
